
.context {
	overflow: hidden;
	margin: 10px 20px;
}
.contents {
	overflow: hidden;
	display: block;
	background-color: rgb(37, 36, 41);
	border-radius: 10px;
	width: 90%;
	margin: 20px auto;
}

p, pre {
	font-size: 15px;
	text-decoration: none;
	color: white;
}

a {
	font-size: 15px;
	text-decoration: none;
	color: #6969d5 !important;
}

img {
	max-width: 90%;
	margin: 6px 0;
}

.title {
	font-size: 34px;
	font-weight: 800;
	margin-bottom: 10px;
}

.sub-title {
	font-size: 24px;
	font-weight: 600;
	margin: 12px 0;
}

.sub-sub-title {
	font-size: 18px;
	margin: 10px 0;
}

.title,
.sub-title,
.sub-sub-title {
	padding-bottom: 3px;
	border-bottom: 1px solid gray;
}
